.auth{
    border-radius: 8px;
    padding: 30px;
    height: 250px;
    width: 350px;
    margin-top: 10%;
    margin-left: 135%;
    background-color: #e0c2ff;
}
.sign{
    border-radius: 8px;
    padding: 20px;
    height: 335px;
    width: 350px;
    margin-top: 5%;
    margin-left: 135%;
    background-color: #e0c2ff;
}
.sign_box{
    display: flex;
}

.name{
    margin-left: 10px;
}
.button_auth{
    margin-top: 5%;
    margin-left: 18%;
}
.box{
    display: flex;
}
.packman{
    width: 500px;
    height: 500px;
    margin-top: 15%;
    margin-left: 17%;
}
.logo {
    background-color: #4d1b80;
}