.auth{
    border-radius: 8px;
    padding: 20px;
    height: 30%;
    width: 100%;
    margin-top: 8%;
    background-color: #e0c2ff;
}
.sign{
    border-radius: 8px;
    padding: 20px;
    height: 58%;
    width: 100%;
    margin-top: 5%;
    background-color: #e0c2ff;
}
.sign_box{
    display: flex;
}

.name{
    margin-left: 10px;
}
.button_auth{
    margin-top: 1%;
    margin-left: 20%;
}
.box{
    display: flex;
}
.packman{
    max-width: 100%;
    max-height: 90%;
    margin-top: 10%;
    margin-left: 8%;
}
.logo{
    background-color: #4d1b80;
}
.logo_box{
    width: 40%;
    height: 70%;
}
.authorization_box{
    width: 25%;
    margin-left: 30%;
}
.logo_text{
    font-family: VC;
}

.checkbox{
    display: flex;
    flex-direction: row;
}
.checkbox_button{
    margin-left: 5%;
}